.header {
  min-height: 100px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 700;

  &__link {
    color: #d97706 !important;
    align-self: center;
    text-decoration: none;

    &:hover {
      color: #d97706 !important;
    }
  }
}
