.nav-list {
  width: 50%;
}

.navlink {
  &--active {
    color: #d97706 !important;
  }

  &--default {
    color: #6c757d !important;
  }

  &__border{
    height: 4px;
    background-color: #d97706;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}
