.not-found {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;

  &__container {
    display: table-cell;
    vertical-align: middle;

    &--title {
      font-size: 50px;
      display: inline-block;
      padding-right: 12px;
      animation: type 0.5s alternate infinite;
	}
	
	&--link {
		color: #d97706;
		text-decoration: none;
	
		&:hover {
		  color: #d97706;
		}
	  }
  }
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}
