body {
  background-color: #e5e7eb;
  min-height: 100vh;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

button{
  border: none;
  outline: none;
}

button:hover {
  border: none;
  outline: none;
}

button:focus {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
}

a{
  color: black;
}